params {
	fastq = null
	reference = null
	out_dir = "output"
	seqplat = "nanopore"
	name = "my_phage"
}

docker {
        enabled = true
} 
process.container = 'wiltone/nanoterm:1.0'

cleanup = true

manifest {
    name            = 'wf-NanoTerm'
    author          = 'Emily Wilton'
    homePage        = 'https://github.com/EEWilton/wf-NanoTerm'
    description     = 'Determine phage termini from nanopore sequencing'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.1'
}
