params {
	fastq = null
	reference = null
	out_dir = "output"
	seqplat = 'nanopore'
	name = null
}

process.container = 'wiltone/nanoterm:1.0'

docker {
     enabled = true
     // this ensures container is run as host user and group, but
     //    also adds host user to the within-container group
     //runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
}


manifest {
    name            = 'wf-NanoTerm'
    author          = 'Emily Wilton'
    homePage        = 'https://github.com/EEWilton/wf-NanoTerm'
    description     = 'Determine phage termini from nanopore sequencing'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.1'
}
